/* BOX-MODEL */

@mixin box-model($border_box) {
    box-sizing: $border_box;
}


/* DISPLAY FLEX */

@mixin flexUno($flex) {
    display: $flex;
}

@mixin flexDos($flex, $items) {
    display: $flex;
    align-items: $items;
}

@mixin flexTres($flex, $items, $content) {
    display: $flex;
    align-items: $items;
    justify-content: $content;
}


/* MEDIA QUERYS */

@mixin iphone {
    @media only screen and (min-width: #{$iphone}) {
        @content;
    }
}

@mixin telefono {
    @media only screen and (min-width: #{$telefono}) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: #{$desktop}) {
        @content;
    }
}