html {
    @include box-model(border-box);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    @include box-model(inherit);
}

body {
    font-family: $fuentePrimaria;
}

img {
    max-width: 100%;
}

.main-container {
    display: grid;
    grid-template-columns: 15.5rem auto;
    grid-template-rows: 4rem auto 2rem;
    grid-template-areas: "header header" "lateral contenido" "footer footer";
}

.main-container-two {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 4rem auto 2rem;
    grid-template-areas: "header header" "contenido contenido" "footer footer";
    transition: all 3s;
    -webkit-transition: all 3s;
    -moz-transition: all 3s;
    -ms-transition: all 3s;
    -o-transition: all 3s;
    // transition: all 3s ease;
}