html {
    @include box-model(border-box);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    @include box-model(inherit);
}

body {
    font-family: $fuentePrimaria;
}

img {
    max-width: 100%;
}

.main-container {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 16rem auto;
    grid-template-rows: 4rem 53rem 2.4rem;
    grid-template-areas: "header header" "lateral contenido" "footer footer";
    transition: all .5s ease;
    @include telefono {
        grid-template-rows: 4rem auto 2.4rem;
    }
}

.main-container-two {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 34rem 2.4rem;
    grid-template-areas: "header header" "contenido contenido" "footer footer";
    transition: all .5s ease;
    @include telefono {
        grid-template-rows: 4rem auto 2.4rem;
    }
}