.header {
    display: flex;
    .nombre-sitio {
        flex: 0 0 5rem;
        text-align: center;
        background-color: $colorSecundario;
        @include desktop {
            flex: 0 0 20rem;
        }
        h1 {
            color: $colorBlanco;
        }
        .escritorio {
            display: none;
            @include desktop {
                display: block;
            }
        }
        .movil {
            @include desktop {
                display: none;
            }
        }
    }
}

.barra {
    display: flex;
    justify-content: space-between;
    flex: 1;
    background-color: $colorPrimario;
    .menu-izquierdo {
        display: flex;
        align-items: center;
        padding-left: 1rem;
        i {
            color: $colorBlanco;
            font-size: 1.2rem;
        }
        .fa-arrow-right {
            display: none;
        }
    }
    .menu-derecho {
        display: flex;
        .caja {
            display: flex;
            align-items: center;
            padding: 0 1rem;
            &:hover {
                background-color: $colorSecundario;
            }
            a {
                color: $colorBlanco;
                text-decoration: none;
                span {
                    background-color: $colorTerciario;
                    padding: 0.5rem;
                    margin-left: 0.5rem;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                }
            }
        }
    }
}