.header {
    grid-area: header;
    @include flexTres(flex, center, space-between);
    color: $colorBlanco;
    background-color: $colorPrimario;
    .header__title {
        height: 4rem;
        @include flexDos(flex, center);
        background-color: $colorSecundario;
        padding: 0 0.2rem;
        position: relative;
        .header__desktop {
            display: none;
        }
        @include telefono {
            .header__phone {
                display: none;
            }
            .header__desktop {
                display: block;
            }
        }
    }
    .header__flechas {
        cursor: pointer;
        position: absolute;
        left: 3.5rem;
        .right {
            display: none;
        }
        @include telefono {
            left: 11rem;
        }
    }
    #nav {
        display: none;
        .header__menu {
            @include flexUno(flex);
            .header__list {
                list-style: none;
                margin-right: 0.5rem;
                &:last-child {
                    margin-right: 0;
                    padding: 0 0.2rem;
                }
                .header__item {
                    text-decoration: none;
                    color: $colorBlanco;
                    .header__push {
                        display: none;
                    }
                    @include tablet {
                        .header__push {
                            display: inline;
                            padding: .2rem;
                            background-color: green;
                            border-radius: 100%;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}