.form {
    grid-area: contenido;
    padding: 2rem 0 0 2rem;
    background-color: $colorGrisClaro;
    min-height: 100%;
    @include telefono {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .opciones {
            display: flex;
            justify-content: center;
            input[type="radio"] {
                margin-left: 5px;
            }
        }
    }
    .formulario {
        margin-top: 1rem;
        .campo {
            margin-bottom: .5rem;
            input[type="text"] {
                height: 1.8rem;
            }
        }
        .boton {
            margin-top: .5rem;
            padding: .3rem;
            border-radius: 5px;
            color: $colorBlanco;
            background-color: $colorPrimario;
            @include telefono {
                margin-bottom: .5rem;
            }
        }
    }
}

.new-form {
    padding: .5rem 0 0 .5rem;
}