.form {
    grid-area: contenido;
    padding: 2rem 0 0 2rem;
    background-color: $colorGrisClaro;
    .formulario {
        margin-top: 1rem;
        .campo {
            margin-bottom: .5rem;
            input[type="text"] {
                height: 1.8rem;
            }
            // .opciones {
            //     display: flex;
            // }
        }
        .boton {
            margin-top: .5rem;
            padding: .3rem;
            border-radius: 5px;
            color: $colorBlanco;
            background-color: $colorPrimario;
        }
    }
}